.content input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:300px;
  border:none;
  border-bottom:1px solid #757575;
}

input:focus { outline:none; }

.gapi-user-data{
  width: 50%;
  margin: 0 auto;
}

.component-key {
  display: inline-block;
  width: 25%;
}

.component-value {
  display: inline-block;
  width: 75%;
  text-align:right;
}